/*
    Gestion des polices
*/
@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: "aaarg";
    src: url('fonts/Aaargh-webfont.woff');
}
@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: "ailerons";
    src: url('fonts/Ailerons/Ailerons-Typeface.otf');
}
@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: "slopes";
    src: url('fonts/Boris-Garic_Slopes-Free-Typeface/Slopes.ttf');
}
@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: "aaarg";
    src: url('fonts/Aaargh-webfont.woff');
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202021;
    z-index: 1;
    position: relative;
}
/*
    Menu
*/
    nav{
        width: 100%;
        color: #ffffff66;
        font-size: 2rem;
        position: fixed;
        top: 0px;
        z-index: 2;
        font-family: slopes;
    } 

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        height: 100%;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
    .active {
        background-color: #4CAF50;
    }

    nav ul li:last-child{
        float:right;
    }
    nav ul li:nth-child(1){
        margin-left: 1rem;
    }

    nav ul li:nth-child(2){
        margin-left: 4rem;
    }

    #montain_logo{
        height: 3rem;        
    }

/*
    Carte
*/
    #mapid{
        margin-top: 6rem;
        width: 70rem; 
        height: 40rem;
        border: 0.4rem;
        border-color: cornsilk;
        border-style: solid;
        border-radius: 10px;
        z-index: 1;
    }





/*
    Footer
*/
#footer{
    font-family: "ailerons";
    background-color: #333;
    color: darkgrey;
    bottom: 0; 
    left: 0; 
    right: 0
}


