    
    {% extends "layout.twig" %}

    {% block content %}
      <div class="container-fluid">
        <div class="row">
          <div id="" class="col-md-3"></div>
          <div id="mapid" class="col-md-9"></div>
        </div>
        <div class="row">
          <div class="col-md-4_offset-4" id="info"></div>
        </div>
      </div>

    <!-- Création de la map -->
     <script src="{{ base_url() }}/js/affichageMap.js"</script>
    
    {% endblock %}
    

