    
    {% extends "layout.twig" %}

    {% block content %}
      <div class="container">
        <div class="row">
          <div id="mapid" class="col-md"></div>
        </div>
      </div>

    <!-- Création de la map -->
    <script> 
  mapboxgl.accessToken = 'pk.eyJ1IjoiYXltZXJpY3QiLCJhIjoiY2s2cWZiM29zMWxucDNtcXN5cXRobHZhdiJ9.cX5vgHzNHwG14iDQRJiWRw';
  var mymap = new mapboxgl.Map({
  container: 'mapid', // container id
  style: 'mapbox://styles/aymerict/ck6qg0rrx3aeo1iqycti86k4d', // stylesheet location
  center: [6.147068, 46.227253], // starting position [lng, lat]
  zoom: 9 // starting zoom
  });
    </script>
    {% endblock %}

